<div class="row text-small">
  <div class="col-md-2">
    Ticker:
    <input placeholder="Filter by ticker" [(ngModel)]="filterTicker" (ngModelChange)="applyFilters()" class="form-control"/>  
  </div>
  <div class="col-md-2">
    Category:
    <select [(ngModel)]="filterCategory" (ngModelChange)="applyFilters()" class="form-control">
      <option value="">All Categories</option>
      <option *ngFor="let cat of categoryOptions" [value]="cat">{{ cat }}</option>
    </select>  
    </div>
    <div class="col-md-2">
      Sources:
    <select [(ngModel)]="filterSource" (ngModelChange)="applyFilters()" class="form-control">
      <option value="">All Sources</option>
      <option *ngFor="let src of sourceOptions" [value]="src">{{ src }}</option>
    </select>
    </div>
    <div class="col-md-1">
    I.S >: 
    <input type="number" [(ngModel)]="filterImpactScore" (ngModelChange)="applyFilters()" min="0" step="0.1" class="form-control"/>  
    </div>
    <div class="col-md-2">
    From: 
    <input type="date" [(ngModel)]="filterStartDate" (ngModelChange)="applyFilters()" class="form-control"/>
    </div>
    <div class="col-md-2">
    To: 
    <input type="date" [(ngModel)]="filterEndDate" (ngModelChange)="applyFilters()" class="form-control"/>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>  
  <!-- Stats Display -->
    Total News: {{ totalNews }}&nbsp;Average Impact Score: {{ averageImpactScore | number: '1.2-2' }}
    Impact Score Std Dev: {{ impactScoreStdDev | number: '1.2-2' }}
  
  <table *ngIf="paginatedNews.length" class="table table-sm">
    <thead>
      <tr>
        <th (click)="changeSort('headline')" scope="col">Headline</th>
        <th (click)="changeSort('ticker')" scope="col">Ticker</th>
        <th (click)="changeSort('category')" scope="col">Category</th>
        <th scope="col">Sentiment (GPT)</th>
        <th scope="col">FinBERT</th>
        <th scope="col">Mistral</th>
        <th (click)="changeSort('impactScore')" scope="col">Impact</th>
        <th (click)="changeSort('source')" scope="col">Source</th>
        <th (click)="changeSort('datetime')" scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedNews">
        <td scope="row" data-toggle="tooltip" data-placement="top" title="{{ item.headline }}"><a [href]="item.url" target="_blank" >{{ item.headline }}</a></td>
        <td scope="row">{{ item.ticker }}</td>
        <td scope="row">{{ item.category || 'N/A' }}</td>
        <td scope="row">{{ item.sentimentGpt }}</td>
        <td scope="row">{{ item.sentimentFinbert }}</td>
        <td scope="row">{{ item.sentimentMistral }}</td>
        <td scope="row">{{ item.impactScore !== null ? item.impactScore : 'N/A' }}</td>
        <td scope="row">{{ item.source }}</td>
        <td scope="row">{{ item.datetime | date: 'short' }}</td>
      </tr>
    </tbody>
  </table>
  <!-- Pagination -->
  <div class="Page navigation" *ngIf="filteredNews.length > pageSize">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="changePage(currentPage - 1)" href="#">Previous</a></li>
      <li class="primary">Page {{ currentPage }} of {{ totalPages }}</li>
      <li class="page-item"><a class="page-link" (click)="changePage(currentPage + 1)" href="#">Previous</a></li>
    </ul>
  </div>