
a {
  display: inline-block;
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a :hover {
  display: inline-block;
  max-width: max-content;
  white-space: nowrap;
  overflow: auto;
  text-overflow: inherit;
}
